doctype html
html(lang='en')
   head
      title Date Night
   body
      h1 Welcome to Date Night
      img(src='/datenight01.jpg' height='200px' width='200px' alt="Welcome to Date Night")
      button(type='button') Submit